<nav class="Central">
    <section class="BodyNavSup-Logo-ButtonClose">
        <div class="Logo">
            <img src="../../../assets/logo.svg" alt="Logo de FUP">
        </div>
        <div class="ButtonClose">
            <button><img src="../../../assets/Button-Close.svg" alt="Boton de Salir"></button>
        </div>
    </section>
    <section class="BodyNavMiddle-Category">
        <div class="Category1">
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación1"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación2"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación3"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación4"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación5"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación6"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación7"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación8"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación9"></p>
                </div>
            </div>
        </div>
        <div class="Line">
        </div>
        <div class="Category2">
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación10"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación11"></p>
                </div>
            </div>
            <div class="Link Navigator">
                <div class="Links-Icons">
                    <div class="Icon">
                        <img src="" alt="">
                    </div>
                    <div class="Link">
                        <a href=""></a>
                    </div>
                </div>
                <div class="Noti">
                    <p class="Notification" id="Notificación12"></p>
                </div>
            </div>
        </div>
    </section>
</nav>
