.Central{
    background-color:  var(--w);
    width: 24%;
    position: absolute;
    z-index: 100;
    box-sizing: content-box;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.BodyNavSup-Logo-ButtonClose{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
.Logo img{
    margin: 10px 10px;
    height: 50px;
}
.ButtonClose button{
    margin: 20px 10px;
    border-style: none;
    background-color: var(--w);
}
.ButtonClose button img{
    margin: 5px 5px;
}
.ButtonClose button img:hover{
    filter: hue-rotate(0deg) saturate(0) brightness(100);
    transition: all .1s ease-in;
    cursor: pointer;
}

.ButtonClose button:hover{
    background-color: var(--c1);
    transition: all .1s ease-in;
    border-radius: 10px;
}
.BodyNavMiddle-Category{
    margin: 25% 0 0 0;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
}
.Link-Navigator .Button{
    display: flex;
    flex-flow: wrap row;
    text-decoration: none;
    color: var(--b);
    margin: 8px 0;
    padding: 0 8px 0 20px;
    justify-content: space-between;
}
.Link-Navigator .Button:hover{  
    filter: invert(100%);
    
}
.Link-Navigator .Button:hover .Notification{  
    color: #0D1311;
    background-color: #E95A8E;
    visibility: visible;
    
}
.Link-Navigator:hover{  
    background-color: var(--c1);
    transition: all .1s ease-in;
    border-radius: 30px;
}
p{
    font-size: 18px;
}
.Links-Icons{
    display: flex;
    flex-flow: wrap row;
}
.Links-Icons .Icon{
    width: 60px;
}
.Links-Icons .Icon img{
    margin: 7px 0 0 0;
}
.Line{
    background-color: #0D1311;
    width: 90%;
    height: 5px;
    margin: 160px auto 25px auto; 
    border-radius: 30px;
}
.Notification{
    background-color: var(--c2);
    color: var(--w);
    font-size: 14px;
    position: relative;
    margin: 20px 20px 0 0;
    visibility: hidden;
}






.pene{
    --c1: #16A571;
    --c2: #33D380;
    --r: #D13333;
    --w: #F2F0F0;
    --b: #0D1311;
    --g: #79747E;
}