<div class="central">

    <div class="sup">
        <div class="sup__stats">

            <div>
                <p>Clientes ultimos 15 Dias</p>
                <p>200</p>
            </div>
            <div>
                <p>Clientes ultimos 30 Dias</p>
                <p>600</p>
            </div>
            <div>
                <p>Clientes ultimos 6 meses</p>
                <p>1500</p>
            </div>

        </div>

        <div class="sup__search">

            <div class="sup__input">
                <span>Nombre - Cedula - Celular - Codigo</span>
                <input>
            </div>
            <button>Buscar</button>
            <div class="sup__select">
                <select name="lenguajes" id="lang">
                  <option value="javascript">Ordenar Por (Any)</option>
                  <option value="php">PHP</option>
                  <option value="java">Java</option>
                  <option value="golang">Golang</option>
                  <option value="python">Python</option>
                  <option value="c#">C#</option>
                  <option value="C++">C++</option>
                  <option value="erlang">Erlang</option>
                </select>
            </div>
            <div class="sup__select">
                <select name="lenguajes" id="lang">
                  <option value="javascript">Filtros (Any)</option>
                  <option value="php">PHP</option>
                  <option value="java">Java</option>
                  <option value="golang">Golang</option>
                  <option value="python">Python</option>
                  <option value="c#">C#</option>
                  <option value="C++">C++</option>
                  <option value="erlang">Erlang</option>
                </select>
            </div>

        </div>

    </div>



    <div class="inf">
        <table>

            <tr>
              <th>Cedula</th>
              <th>Nombre Cliente</th>
              <th>Compras en bruto</th>
              <th>Puntos Acumulados</th>
              <th>Activo desde</th>
            </tr>



            <tr (click)="rara(1)">
              <td>1001111111</td>
              <td>Camilo andres Martinez Perez</td>
              <td>Hola</td>
              <td>Como</td>
              <td>Esta</td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="ocult">
                        <h2>hola</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, laboriosam! Quia cupiditate voluptate minus exercitationem dolorum nisi accusantium. Magnam ipsa maxime, aperiam nulla eius repellendus expedita nesciunt autem ullam quidem.</p>
                    </div>
                </td>
            </tr>

            <tr (click)="rara(2)">
                <td>1001111111</td>
                <td>Camilo andres Martinez Perez</td>
                <td>Hola</td>
                <td>Como</td>
                <td>Esta</td>
            </tr>
              <tr>
                  <td colspan="5">
                      <div class="ocult">
                          <h2>hola</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, laboriosam! Quia cupiditate voluptate minus exercitationem dolorum nisi accusantium. Magnam ipsa maxime, aperiam nulla eius repellendus expedita nesciunt autem ullam quidem.</p>
                      </div>
                  </td>
              </tr>

              <tr (click)="rara(3)">
                <td>1001111111</td>
                <td>Camilo andres Martinez Perez</td>
                <td>Hola</td>
                <td>Como</td>
                <td>Esta</td>
              </tr>
              <tr>
                  <td colspan="5">
                      <div class="ocult">
                          <h2>hola</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, laboriosam! Quia cupiditate voluptate minus exercitationem dolorum nisi accusantium. Magnam ipsa maxime, aperiam nulla eius repellendus expedita nesciunt autem ullam quidem.</p>
                      </div>
                  </td>
              </tr>

              <tr (click)="rara(4)">
                <td>1001111111</td>
                <td>Camilo andres Martinez Perez</td>
                <td>Hola</td>
                <td>Como</td>
                <td>Esta</td>
              </tr>
              <tr>
                  <td colspan="5">
                      <div class="ocult">
                          <h2>hola</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, laboriosam! Quia cupiditate voluptate minus exercitationem dolorum nisi accusantium. Magnam ipsa maxime, aperiam nulla eius repellendus expedita nesciunt autem ullam quidem.</p>
                      </div>
                  </td>
              </tr>

            
          </table>
    </div>
    <div class="pages">
        <p>Anterior</p>
        <p class="active">1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>Siguiente</p>
    </div>


</div>

