
<div class="Category">
    <select id="cate">
        <option value="">Categoria (Any)</option>
        <option>Comida perros</option>
        <option>Comida gatos</option>
      </select>
</div>

<div class="content">
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>

    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <h3>Nombre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div class="card-product_add">
            +
        </div>
    </div>
    
</div>

<div class="button">
    <button>carrito</button>
</div>