<div class="grid">

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

<div class="grid__card">
    <img src="../../../assets/generic.png">
    <div>
        <h3>Servicio 1</h3>
        <p>Subtitulo</p>
    </div>
</div>

</div>