
<div class="content">
    <div *ngFor="let product of inventorys;index as i;" class="card-product">
        <img src="{{backend}}/public/images/{{product.image}}" alt="">
        <div class="card-product_text">
            <div class="card-product_text--cart">
                <h3>{{product.productname}}</h3>
                <p (click)="delete(i)">x</p>
            </div>

            <div class="card-product_text--cuantity">
                <p>{{prices[i]}}</p>
                <div>
                    <p (click)="remove(i)">-</p>
                    <p>{{product.count}}</p>
                    <p (click)="add(i)">+</p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="button">
    <div>
        <p>Total:</p>
        <p>${{total}}</p>
    </div>
    <button (click)="next()">Pagar</button>
</div>