
<h1 class="">Modulos FUP</h1>
<div class="modules-container">
    <div class="card" routerLink="/inventory-till">
        <div class="card-image">
            <img src="../../../../assets/generic.png" alt="">
        </div>
        <div class="card-text">
            <h2>Caja</h2>
        </div>
    </div>
    <div class="card" routerLink="/inventory-managment">
        <div class="card-image">
            <img src="../../../../assets/generic.png" alt="">
        </div>
        <div class="card-text">
            <h2>Inventario</h2>
        </div>
    </div>
    <div class="card" routerLink="/distribuitor-managment">
        <div class="card-image">
            <img src="../../../../assets/generic.png" alt="">
        </div>
        <div class="card-text">
            <h2>Provedores</h2>
        </div>
    </div>
    <div class="card" routerLink="/user-managment">
        <div class="card-image">
            <img src="../../../../assets/generic.png" alt="">
        </div>
        <div class="card-text">
            <h2>Clientes</h2>
        </div>
    </div>
    <div class="card" routerLink="/employee-managment">
        <div class="card-image">
            <img src="../../../../assets/generic.png" alt="">
        </div>
        <div class="card-text">
            <h2>Trabajadores</h2>
        </div>
    </div>
    <div class="card" routerLink="/sold-managment">
        <div class="card-image">
            <img src="../../../../assets/generic.png" alt="">
        </div>
        <div class="card-text">
            <h2>Ventas</h2>
        </div>
    </div>
    <div class="card" routerLink="/shop-managment">
        <div class="card-image">
            <img src="../../../../assets/generic.png" alt="">
        </div>
        <div class="card-text">
            <h2>Tienda Virtual</h2>
        </div>
    </div>
</div>