    <section class="ContentSupBody">
        <div class="SupBody-Nav-Logo">
            <div class="SupBody-Logo">
                <img src="../../../assets/logo.svg" alt="Logo de la empresa FUP">
            </div>
            <div class="SupBody-Nav">
                <a href="">Inicio de sesión</a>
            </div>
        </div>
        <div class="SupBody-Info-FrontPage">
            <div class="SupBody-Content-Info-Email">
                <div class="SupBody-Content-Text">
                    <h2 class="Title-Up">Mejora tu negocio a un click</h2>
                    <p class="P-Up1">Ser mejor nunca fue tan fácil</p>
                </div>
                <div class="SupBody-Content-email">
                    <div class="P-Up2">
                        <p>Manejar un negocio nunca había sido tan sencillo. Con la ayuda de Fup puedes a cubrir todas tus 
                            necesidades, desde un manejo de inventario más organizado y actualizado, una manera sencilla y practica de 
                            vender por internet, mantener una base de datos actualizada sobre los clientes y compras que se hacen en el negocio además
                            de contar con un sistema de agendamiento de citas para mantener al día tu agenda con tus clientes. <br>
                            ¿Qué estas esperando para registrar tu negocio? ¡Escribe tu correo electronico y comienza con tu registro!
                        </p>
                    </div>
                    <div class="Email-Button-Register">
                        <div class="Email">
                            <input class="input-Email" type="text" placeholder=""/>
                            <label>Correo electronico</label>
                            <span class="focus-bg"></span>
                        </div>
                        <div class="Button-Register1">
                            <a href="">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SupBody-Front-Page-Image">
                <img src="../../../assets/front-page-image.svg" alt="Persona sentada mirando su celular">
            </div>
        </div>
    </section>
    <section class="Content-MiddleBody1">
        <div class="MiddleBody1-Title-FreeTrial">
            <h2>¡15 días gratuitos y el resto del mes a mitad de precio!</h2>
        </div>
        <div class="MiddleBody1-Section-Publicity">
            <div class="Publicity-Easy">
                <div class="Easy-icon">
                    <img src="../../../assets/Section-Easy-Image.svg" alt="Puntero que indica lo fácil que es la app">
                </div>
                <div class="Publicity-Easy-text">
                    <h3>Fácil</h3>
                    <p>Comodo y Sencillo</p>
                </div>
            </div>
            <div class="Publicity-Intelligent">
                <div class="Intelligent-icon">
                    <img src="../../../assets/Section-Intelligent-image.svg" alt="Imagen que indica lo bien pensada que esta hecha la pagina">
                </div>
                <div class="Publicity-Intelligent-text">
                    <h3>Intelligente</h3>
                    <p>Tecnologías al alcance de tus manos</p>
                </div>

            </div>
            <div class="Plublicity-Ranking">
                <div class="Ranking-icon">
                    <img src="../../../assets/Section-ranking-image.svg" alt="Imagen que indica que subiras tus graficas">
                </div>
                <div class="Plublicity-Ranking-text">
                    <h3>Crecer</h3>
                    <p>Incrementa la efectividad</p>
                </div>
            </div>
            <div class="Publicity-FUP">
                <div class="Icon-Fup">
                    <img src="../../../assets/Section-fup-logo.svg" alt="Imagen que representa la empresa">
                </div>
                <div class="Publicity-FUP-text">
                    <h3>¡Un gran avance!</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="Content-MiddleBody2">
        <div class="MiddleBody2-Info">
            <h2>Manejo a un click</h2>
            <p>Gracias a las Tecnologías que utilizamos podemos ofrecerte un buen arsenal de modulos
                para que puedas automatizar hasta un 90% de los servicios en tu negocio ¿Desde cuando las cosas habían sido fan faciles?
            </p>
        </div>
        <div class="MiddleBody2-Gif">
            gif
        </div>
    </section>
    <section class="Content-MiddleBody3">
        <div class="MiddleBody3-modules">
            <div class="Modules-title">
                <h2>Tipos de modulos</h2>
            </div>
            <div class="Modules-info">
                <div class="Module-inventory">
                    <h3>Inventario</h3>
                    <p>Modulo orientado al almacenamiento de productos enlazado con la caja de la tienda para actualizarse automaticamente dependiendo de las compras</p>
                </div>
                <div class="Module-Store">
                    <h3>Tienda</h3>
                    <p>Modulo orientado a la venta de productos online</p>
                </div>
                <div class="Module-Services">
                    <h3>Servicios</h3>
                    <p>Un modulo orientado al almacenamiento y a la manipulación de historias clinicas de pacientes de cualquier tipo.</p>
                </div>
                <div class="Module-HistoryUser">
                    <h3>Historias clinicas</h3>
                    <p>Un modulo orientado al almacenamiento y a la manipulación de historias clinicas de pacientes de cualquier tipo.</p>
                </div>
            </div>
        </div>
        <div class="MiddleBody3-join">
            <div class="Join">
                <div class="title">
                    <h2>Unete al equipo!</h2>
                </div>
                <div></div>
            </div>
        </div>
    </section>

