
<div class="content">
    <div class="card-product">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
        <div class="card-product_text">
            <div class="card-product_text--cart">
                <h3>Nombre</h3>
                <p>x</p>
            </div>

            <div class="card-product_text--cuantity">
                <p>$200.000</p>
                <div>
                    <p>-</p>
                    <p>2</p>
                    <p>+</p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="button">
    <div>
        <p>Total:</p>
        <p>$300.000</p>
    </div>
    <button>Pagar</button>
</div>