<div class="central">
  <div class="left">
    <div class="left__sup">
      <p>Mesa 1</p>
      <p>Mesa 1</p>
      <p>Mesa 1</p>
      <p>Mesa 1</p>
      <p>Mesa 1</p>
      <p>Mesa 1</p>
      <p>Mesa 1</p>
    </div>
    <div class="left__down">
      <div class="left__divider"></div>
      <button>Crear</button>
    </div>
  </div>

  <div class="right">
    <div class="filter">
      <div class="filter__left">
        <div class="filter__select">
          <select name="lenguajes" id="lang">
            <option value="javascript">Semana</option>
            <option value="php">PHP</option>
            <option value="java">Java</option>
            <option value="golang">Golang</option>
            <option value="python">Python</option>
            <option value="c#">C#</option>
            <option value="C++">C++</option>
            <option value="erlang">Erlang</option>
          </select>
        </div>

        <div class="filter__select">
          <select name="lenguajes" id="lang">
            <option value="javascript">Servicio</option>
            <option value="php">PHP</option>
            <option value="java">Java</option>
            <option value="golang">Golang</option>
            <option value="python">Python</option>
            <option value="c#">C#</option>
            <option value="C++">C++</option>
            <option value="erlang">Erlang</option>
          </select>
        </div>
      </div>
      <div class="filter__right">
        <button>Bloquear</button>
        <button>Editar</button>
      </div>
    </div>
    <div class="calendar">
      <div class="calendar__row">
        <p>Horario</p>
        <p>Lunes</p>
        <p>Martes</p>
        <p>Miercoles</p>
        <p>Jueves</p>
        <p>Viernes</p>
        <p>Sabado</p>
        <p>Domingo</p>
      </div>
      <div class="colums">
        <div class="calendar__colum">
          <p>00:00</p>
          <p>01:00</p>
          <p>02:00</p>
          <p>03:00</p>
          <p>04:00</p>
          <p>05:00</p>
          <p>06:00</p>
          <p>07:00</p>
          <p>08:00</p>
          <p>09:00</p>
          <p>10:00</p>
          <p>11:00</p>
          <p>12:00</p>
          <p>13:00</p>
          <p>14:00</p>
          <p>15:00</p>
          <p>16:00</p>
          <p>17:00</p>
          <p>18:00</p>
          <p>19:00</p>
          <p>20:00</p>
          <p>21:00</p>
          <p>22:00</p>
          <p>23:00</p>
        </div>
        <div class="calendar__day">
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>

        <div class="calendar__day">
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>

        <div class="calendar__day">
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>

        <div class="calendar__day">
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>
        <div class="calendar__day">
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>

        <div class="calendar__day">
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>

        <div class="calendar__day">
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="calendar__hour">
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="ocult oculto"></div>

<div class="add-service panel oculto">
  <div class="input">
    <span>Nombre Mesa</span>
    <input />
  </div>

  <div class="input">
    <span>Nombre Mesa</span>
    <input />
  </div>

  <div class="input">
    <span>Imagen</span>
    <input type="file" />
  </div>

  <div class="panel__list">
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i">Tipo</label>
      </div>
      <div>
        <input id="i" name="i" type="checkbox" />
      </div>
    </div>

    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i10">Tipo</label>
      </div>
      <div>
        <input id="i10" name="i10" type="checkbox" />
      </div>
    </div>


    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i2">Tipo</label>
      </div>
      <div>
        <input id="i2" name="i2" type="checkbox" />
      </div>
    </div>


    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i3">Tipo</label>
      </div>
      <div>
        <input id="i3" name="i3" type="checkbox" />
      </div>
    </div>

    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i4">Tipo</label>
      </div>
      <div>
        <input id="i4" name="i4" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i5">Tipo</label>
      </div>
      <div>
        <input id="i5" name="i5" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i6">Tipo</label>
      </div>
      <div>
        <input id="i6" name="i6" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i7">Tipo</label>
      </div>
      <div>
        <input id="i7" name="i7" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i8">Tipo</label>
      </div>
      <div>
        <input id="i8" name="i8" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i9">Tipo</label>
      </div>
      <div>
        <input id="i9" name="i9" type="checkbox" />
      </div>
    </div>

  </div>

  <button>Crear</button>



</div>

<div class="add-workspace panel oculto">
  <div class="input">
    <span>Nombre Mesa</span>
    <input />
  </div>

  <div class="input">
    <span>Nombre Mesa</span>
    <input />
  </div>

  <div class="input">
    <span>Imagen</span>
    <input type="file" />
  </div>

  <div class="panel__list">
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i">Tipo</label>
      </div>
      <div>
        <input id="i" name="i" type="checkbox" />
      </div>
    </div>

    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i10">Tipo</label>
      </div>
      <div>
        <input id="i10" name="i10" type="checkbox" />
      </div>
    </div>


    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i2">Tipo</label>
      </div>
      <div>
        <input id="i2" name="i2" type="checkbox" />
      </div>
    </div>


    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i3">Tipo</label>
      </div>
      <div>
        <input id="i3" name="i3" type="checkbox" />
      </div>
    </div>

    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i4">Tipo</label>
      </div>
      <div>
        <input id="i4" name="i4" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i5">Tipo</label>
      </div>
      <div>
        <input id="i5" name="i5" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i6">Tipo</label>
      </div>
      <div>
        <input id="i6" name="i6" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i7">Tipo</label>
      </div>
      <div>
        <input id="i7" name="i7" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i8">Tipo</label>
      </div>
      <div>
        <input id="i8" name="i8" type="checkbox" />
      </div>
    </div>
    <div class="panel__chekbox">
      <div>
        <img src="../../../assets/generic.png" alt="" />
        <label for="i9">Tipo</label>
      </div>
      <div>
        <input id="i9" name="i9" type="checkbox" />
      </div>
    </div>

  </div>

  <button>Crear</button>

</div>

<div id="panel" class="panel--ocultar oculto"></div>
