
<div class="Category">
    <select (change)="change()" id="cate">
        <option value="">Categoria (Any)</option>
        <option value="{{category.id}}" let *ngFor="let category of category;index as i;">{{category.name}}</option>

      </select>
</div>

<div class="content">
    <div  *ngFor="let product of inventorysfilter;index as i;" class="card-product">
        <img src="http://localhost:3000/public/images/{{product.image}}" alt="">
        <div class="card-product_text">
            <h3>{{product.productname}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae voluptatum </p>
        </div>
        <div (click)="add(i)" class="card-product_add">
            +
        </div>
    </div>
</div>

<div class="button">
    <button (click)="next()">carrito</button>
</div>