<div class="central">
    <div class="left">

        <div class="left__sup">
            <div id="workbench">
            <p (click)="mostrar(0)" class="active">Mesa 1</p>
            <p (click)="mostrar(1)" >Mesa 2</p>
            <p (click)="mostrar(2)" >Mesa 3</p>
            <p (click)="mostrar(3)" >Mesa 4</p>
            <p (click)="mostrar(4)" >Mesa 5</p>
            <p (click)="mostrar(5)" >Mesa 6</p>
            <p (click)="mostrar(6)" >Mesa 7</p>
            <p (click)="mostrar(7)" >Mesa 8</p>
            <p (click)="mostrar(8)" >Mesa 9</p>
            <p (click)="mostrar(9)" >Mesa 10</p>
            <p (click)="mostrar(10)" >Mesa 11</p>
            <p (click)="mostrar(11)" >Mesa 12</p>
            </div>

        </div>
        <div class="left__inf">

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__top">
                    <img src="../../../assets/generic.png" alt="">
                    <div>
                        <p>Mesa 1</p>
                        <p>Nombre Prestador</p>
                    </div>
                </div>
                <div class="card__down">
                    <p><b>Horario1</b></p>
                    <p>Subtitulo</p>
                </div>
            </div>


        </div>

    </div>

    <div id="right"class="right">
        <div id="mes">
        <p (click)="mes(0)">Mes Actual</p>
        <p (click)="mes(1)">Mes 2</p>
        <p (click)="mes(2)">Mes 3</p>
        <p (click)="mes(3)">Mes 4</p>
        </div>
        <div class="right__divider"></div>
        <div id="semana">
        <p (click)="semana(0)" >Semana Actual</p>
        <p (click)="semana(1)" >Semana 2</p>
        <p (click)="semana(2)" >Semana 3</p>
        <p (click)="semana(3)" >Semana 4</p>
        </div>
        <div class="right__divider"></div>
        <div id="dia">
        <p (click)="dia(0)" >Día 1</p>
        <p (click)="dia(1)" >Día 2</p>
        <p (click)="dia(2)" >Día 3</p>
        <p (click)="dia(3)" >Día 4</p>
        <p (click)="dia(4)" >Día 5</p>
        <p (click)="dia(5)" >Día 6</p>
        <p (click)="dia(6)" >Día 7</p>
        </div>
        <div class="right__divider"></div>
        <button>Cancelar</button>
    </div>

</div>

