<section class="CentralPage">
    <div id="Mymodal" class="Modal">
        <div class="ModalContent">
            <div class="ModalTitle">
                 <h2>Finalizar</h2>
            </div>
            <div class="ModalInfoinput"> 
                <input class="Input-Modal" id="SearchInventory" type="text" placeholder=""/>
                <label>Nombre - Cedula - Correo - Celular</label>
            </div>
            <div class="ModalShowinfo"> 
                <div class="MoveStatus">
                    <div>
                        <p class="Atribut">Nombre:</p>
                    </div>
                    <div>
                        <p class="Space-2">Dorian Yancelly Ocampo Tangarife</p>
                    </div>
                </div>
                <div class="MoveStatus">
                    <div>
                        <p class="Atribut">Cedula:</p>
                    </div>
                    <div>
                        <p class="Space-2"></p>
                    </div>
                </div>
                <div class="MoveStatus">
                    <div>
                        <p class="Atribut">Correo:</p>
                    </div>
                    <div>
                        <p class="Space-2"></p>
                    </div>
                </div>
                <div class="MoveStatus">
                    <div>
                        <p class="Atribut">Celular:</p>
                    </div>
                    <div>
                        <p class="Space-2"> </p>
                    </div>
                </div>
            </div>
            <div class="ModalPay-Total-Backcash"> 
                <div class="ModalTotal">
                    <div>
                        <p>Total a pagar</p>
                    </div>
                    <div>
                        <p class="Space-3">$$$$$$$$$$$</p>
                    </div>
                </div>
                <div class="ModalPay">
                    <div>
                        <p>Pagó</p>
                    </div>
                    <div>
                        <p class="Space-3">33333333333</p>
                    </div>
                </div>
                <div class="ModalBackcash">
                    <div>
                        <p>Devuelta</p>
                    </div>
                    <div>
                        <p class="Space-3">$$$$$$$$$$$</p>
                    </div>
                </div>
            </div>
            <div class="ModalButtons"> 
                <div>
                    <button class="ModalButtons-Select">Imprimir</button>
                </div>
                <div>
                    <button class="ModalButtons-Select">Factura al correo</button>
                </div>
                <div>
                    <button (click)="Modal1()" class="ModalButtons-Select">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <section class="BodyMain-Search-Inventory">
        <div class="Search">
            <div class="Email">
                <input class="Input-SearchInventory" id="SearchInventory" type="text" placeholder=""/>
                <label>Nombre o codigo del producto</label>
            </div>
            <div class="Category">
                <select name="Type-products">
                    <option value="1" default>Categorias</option>
                    <option value="1">Pene</option>
                    <option value="2">Pene</option>
                    <option value="3" >Pene</option>
                </select>
            </div>
        </div>
        <div class="Catalogue" id="Catalogue" >
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
        </div>
        <div class="Catalogue2" id="Catalogue2">
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
        </div>
        <div class="Catalogue3" id="Catalogue3">
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
        </div>
    </section>
    <section class="BodyTill">
        <div class="SupBody-Icons">
            <img src="../../../assets/logo.svg" alt="Logo de fup">
        </div>
        <div class="MiddleBody-Payproducts">
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>

        </div>
        <div class="BottomBody-Total-Pay-Backcash">
            <div class="Total">
                <div>
                    <p class="Text-T">Total</p>
                </div>
                <div>
                    <p class="Space"></p>
                </div>
            </div>
            <div class="Pay">
                <div>
                    <p class="Text-P">Pagar</p>
                </div>
                <div>
                    <p class="Space"></p>
                </div>
            </div>
            <div class="Backcash">
                <div>
                    <p class="Text-D">Devuelta</p>
                </div>
                <div>
                    <p class="Space"></p>
                </div>
            </div>
            
        </div>
        <div class="Complete">
            <button (click)="Modal1()" class="OpenModal">Completar compra</button>
        </div>
    </section>
</section>