<section class="CentralPage">
    <section class="BodyMain-Search-Inventory">
        <div class="Search">
            <div class="Email">
                <input class="Input-SearchInventory" id="SearchInventory" type="text" placeholder=""/>
                <label>Nombre o codigo del producto</label>
            </div>
            <div class="Category">
                <select name="Type-products" id="Type-products">
                    <option value="Pene">Categorias</option>
                    <option value="Pene">Pene</option>
                    <option value="Pene">Pene</option>
                    <option value="Pene">Pene</option>
                </select>
            </div>
        </div>
        <div class="Catalogue">
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
            <div class="product">
                <p class="Quantity">20</p>
                <div>
                    <img src="../../../assets/Test-Product.svg" alt="">
                </div>
                <p class="Price">$24.000</p>
            </div>
        </div>
    </section>
    <section class="BodyTill">
        <div class="SupBody-Icons">
            <img src="../../../assets/logo.svg" alt="Logo de fup">
        </div>
        <div class="MiddleBody-Payproducts">
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>
            <div class="Payproducts-box">
                <div class="Box-NameP-ButtonQ">
                    <div class="NameProduct">
                        <p id="Name">Lorem ipsum, Lorem ipsum dolor sit a</p>
                    </div>
                    <div class="ButtonQuantity">
                        <button><b>-</b></button>
                        <p>5</p>
                        <button><b>+</b></button>
                    </div>
                </div>
                <div class="Pricetill">
                    <p id="Pricetill-N">$24.000</p>
                </div>
            </div>

        </div>
        <div class="BottomBody-Total-Pay-Backcash">
            <div class="Total">
                <div>
                    <p class="Text-T">Total</p>
                </div>
                <div>
                    <p class="Space"></p>
                </div>
            </div>
            <div class="Pay">
                <div>
                    <p class="Text-P">Pagar</p>
                </div>
                <div>
                    <p class="Space"></p>
                </div>
            </div>
            <div class="Backcash">
                <div>
                    <p class="Text-D">Devuelta</p>
                </div>
                <div>
                    <p class="Space"></p>
                </div>
            </div>
            
        </div>
        <div class="Complete">
            <a  href="">Completar compra</a>
        </div>
    </section>
</section>