.sup__stats{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sup__stats>div{
    background-color: var(--c1);
    display: flex;
    height: 40px;
    width: 400px;
    border-radius: 20px;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid var(--g);
    box-shadow: 0px 0px 5px var(--g);
}

.sup__stats>div>*{
    display: inline-block;
    margin: 0px;
    padding: 10px 10px;    
}
.sup__stats>div>*:nth-child(even){
    background-color: var(--w);
    text-align: center;
    width: 80px;
    

}
.sup__stats>div>*:nth-child(odd){
    color: var(--w);
    vertical-align: middle;
    width: 280px;
    
}
.sup__search{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items:flex-end;
}

.sup__search>*{
display: inline-block;
}
.sup__input{
    height: 50px;
}
.sup .sup__input span{
    background-color: var(--c1);;
    color: var(--w);
    font-size: 14px;
    border-radius: 20px;
    padding: 0px 3px; 
    position: absolute;
    margin: 0px 12px;
  }


  .sup .sup__input input{
    margin: 8px 0px 30px 0px;
    width: calc(100vw - 800px);
    max-width: 700px;
    padding: 12px 10px;
    border-radius: 20px;
    border: 1px solid var(--g);
  }
  .sup input:focus{
    outline: 1px solid var(--c1);;
  }
  .sup input:hover{
    border-color:-var(--b);;
  }

  .sup button{
    background-color: var(--c1);;
    color: var(--w);;
    padding: 10px 0px;
    width: 100px;
    border: none;
    height: 45px;
    border-radius: 20px;
    font-size: 18px;
    margin-left:20px;
  }

.sup__select{
    margin: 0px 10px;
    
}


.sup__select select {
    background-color: var(--c1);
    border-radius: 20px;
    color: var(--w);
    padding: 8px 5px;
    width: 200px;
    border: none;
    font-size: 18px;
    outline: none;
  }
  .sup__select select:focus {
    background-color: var(--w);
    color: var(--c1);
    outline: 2px  solid var(--c1);
  }
  
  
  .sup__select select option {
    padding: 30px;
  }
  .sup__select select option:checked {
    background-color : var(--c2);
    color: var(--w);
  }




.inf{
    margin: 20px 50px 0px 50px;
    height: calc(100vh - 290px);
    overflow: scroll;
}



  table {
    border-collapse: collapse;
    border: 2px solid var(--b);
    margin: 10px;
  }
tr:nth-child(even){
   height: 30px; 
}
  th,td{
    font-size: 18px;
  }
  table>tr:nth-child(even)>td{
    border-bottom: 2px solid var(--b);
    border-left: 2px solid var(--b);
    margin: 0px;
    cursor: pointer;
  }
  table>tr:nth-child(even):hover>td{
    background-color: var(--c1);
    color: var(--w);
  }

  table>tr:nth-child(odd)>th{
    border-bottom: 2px solid var(--b);
    border-left: 2px solid var(--b);
    margin: 0px;
    color: var(--c1);
  }

  .ocult{
    height: 0px;
    overflow: hidden;
    width: 100%;
    transition: 0.5s height;
  }

  .noocult{
    height: 200px !important;
    border-bottom: 2px solid var(--b);
  }


.pages{
    display: flex;
    justify-content: center;
}

.pages>p{
padding: 10px 5px;
text-align: center;
border-radius: 20px;
height: 40px;
min-width: 40px;
box-sizing: border-box;
border:2px solid var(--c1) ;
margin: 10px;
transition: 0.5s;
cursor: pointer;
}

.pages>p:hover{
    background-color: var(--c2);
    color: var(--bs);
    }

.pages>.active{
background-color: var(--c1);
color: var(--w);
    }