<div class="content">
    <h2>Selecciona tu metodo preferido</h2>
    <div (click)="subMenu(0)" class="option">
        <h3>Continuar con MercadoPago</h3>
        <div class="option_div">
            <div>
                <p>La opcion perfecta y estandar para la compra en internet</p>
            </div>
        </div>
    
    </div>
    
    <div class="form oculto">
        <div>
            <div class="input">
                <span>Nombre</span>
                <input/>
            </div>
            <div class="input">
                <span>Cedula</span>
                <input/>
            </div>
            <div class="input">
                <span>Correo</span>
                <input/>
            </div>
            <div class="input">
                <span>Numero celular</span>
                <input/>
            </div>
            <div class="input">
                <span>Direccion</span>
                <input/>
            </div>
            <div class="button">
                <button>Continuar</button>
            </div>
        </div>
    </div>
    
    
    <div (click)="subMenu(1)" class="option">
        <h3>Continua con nosotros por WhatsApp</h3>
        <div class="option_div">
            <div>
                <p>Si tienes alguna duda con la factura o necesitas algo especializado</p>
            </div>
        </div>
    
    </div>
    
    <div class="form oculto">
        <div>
            <div class="input">
                <span>Nombre</span>
                <input id="waName"/>
            </div>
            <div class="input">
                <span>Cedula</span>
                <input type="number" id="waDni"/>
            </div>
            <div class="input">
                <span>Numero celular</span>
                <input type="number" id="waNumber"/>
            </div>
            <div class="input">
                <span>Direccion</span>
                <input id="waAddres"/>
            </div>
            <div class="button">
                <button (click)="whatsapp()">Continuar</button>
            </div>
        </div>
    </div>
</div>
