
<div id="oculter" class="ocult" (click)="actualizar()"></div>
<div id="data" class="main">
    <div class="info" >
        <div class="content">
            <h1>Que bueno tenerte aca 🚀</h1>
            <p>Muchas gracias por elegirnos</p>
            <p>Actuales caracteristicas</p>
            <ul>
                <li>Caja</li>
                <li>Usuarios</li>
                <li>Ventas</li>
                <li>Inventario</li>
                <li>Trabajadores</li>
                <li>Tienda virtual</li>
                <li>...</li>
            </ul>
            <p>Pronto nuevas sorpresas ...</p>

        </div>
        <div class="button">
            <button (click)="actualizar()">Listo</button>
        </div>
    </div>
</div>
